style.css style.css * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    gap: 20px;
    width: 1200px
}

.film-item {
    width: calc(100% / 6 - 20px);
    height: 350px;
    position: relative;
}

.film-item:hover .film-item-front {
    transform: translateX(-50%) perspective(1000px) rotateY(-180deg);
    z-index: -1;
}

.film-item:hover .film-item-back {
    transform: translateX(-50%) perspective(1000px) rotateY(0deg);
    z-index: 1;
}

.film-poster {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.film-item-front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: transform .5s ease-out;
    z-index: 1;
    transform: translateX(-50%);

}

.film-item-back {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    text-align: right;
    backface-visibility: hidden;
    transition: transform .5s ease-out;
    z-index: -1;
    text-align: center;
    transform: translateX(-50%) perspective(1000px) rotateY(180deg);

    background-color: burlywood;

}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    width: 80%;
    max-width: 800px;
    max-height: 90%;
    overflow: auto;
    border-radius: 8px;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.film-poster-in-modal {
    width: 100%;
    max-width: 200px;
}

.flip-card {
    background-color: transparent;
    width: 150px;
    height: 200px;
    perspective: 1000px;
    margin: 10px;
    display: inline-block;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.flip-card:hover .flip-card-front {
    transform: translateX(-50%) perspective(1000px) rotateY(-180deg);
    z-index: -1;
}


.flip-card:hover .flip-card-back {
    transform: translateX(-50%) perspective(1000px) rotateY(0deg);
    z-index: 1;
}



.flip-card-front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: transform .5s ease-out;
    z-index: 1;
    transform: translateX(-50%);
}

.flip-card-back {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    text-align: right;
    backface-visibility: hidden;
    transition: transform .5s ease-out;
    z-index: -1;
    text-align: center;
    transform: translateX(-50%) perspective(1000px) rotateY(180deg);

    background-color: burlywood;
}