@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

style.css style.css * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: flex-end;
    max-width: 1400px;
    padding: 3%;
    margin: 0 auto;
    flex-wrap: wrap-reverse;

}

#totoro {
    image-orientation: initial;
}

#logo {
    width: 250px;
    order: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 10px;

}

nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 30px;
    transition: 0.6s;
    color: white;
}

nav ul li a:hover {
    background-color: #30d0d0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

form {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: end;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 6px solid white;
    border-radius: 20px;
    background-image: url("./img/expandMore.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 150px 0;
    outline: none;
    box-shadow: 0 0 20px rgba(20, 20, 30, 0, 25);
}

select::-ms-expand {
    display: none;
}

select::hover {
    border: 6px solid black;
}

select option {
    background-color: white;
    letter-spacing: 1.2px;
    font-weight: 400;
    font-size: 12px;
}

.selected {
    display: none;
}

#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    gap: 20px;
    width: 1200px
}

.film-item {
    width: calc(100% / 6 - 20px);
    height: 350px;
    position: relative;
}

.film-item:hover .film-item-front {
    transform: translateX(-50%) perspective(1000px) rotateY(-180deg);
    z-index: -1;
}

.film-item:hover .film-item-back {
    transform: translateX(-50%) perspective(1000px) rotateY(0deg);
    z-index: 1;
}

.film-poster {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.film-item-front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: transform .5s ease-out;
    z-index: 1;
    transform: translateX(-50%);

}

.film-item-back {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    text-align: right;
    backface-visibility: hidden;
    transition: transform .5s ease-out;
    z-index: -1;
    text-align: center;
    transform: translateX(-50%) perspective(1000px) rotateY(180deg);
    color: #281146;
    font-size: 14px;
    background-color: white;

}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    align-items: center;
    justify-content: center;


}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    max-width: 800px;
    max-height: 90%;
    overflow: auto;
    border-radius: 8px;
    background: linear-gradient(#A18CD1, #FBC2EB, #FBC2EB);
    color: #281146;
    font-family: 'Montserrat', sans-serif;

}

.modal-content .wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.film-poster-in-modal {
    width: 100%;
    height: 250px;
    object-fit: cover;

}

.flip-card {
    background-color: transparent;
    width: 150px;
    height: 200px;
    perspective: 1000px;
    margin: 10px;
    display: inline-block;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.flip-card:hover .flip-card-front {
    transform: translateX(-50%) perspective(1000px) rotateY(-180deg);
    z-index: -1;
}


.flip-card:hover .flip-card-back {
    transform: translateX(-50%) perspective(1000px) rotateY(0deg);
    z-index: 1;
}



.flip-card-front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: transform .5s ease-out;
    z-index: 1;
    transform: translateX(-50%);
}

.flip-card-back {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    backface-visibility: hidden;
    transition: transform .5s ease-out;
    z-index: -1;
    text-align: center;
    transform: translateX(-50%) perspective(1000px) rotateY(180deg);
    font-size: 12px;
    background-color: white;
}

.percentage {
    padding: 100px;
    width: 50%;
    /* largura do quadrado */
    height: 100%;
    /* altura do quadrado */
    background-color: white;
    /* cor de fundo branca */
    padding: 20px;
    /* espaço interno para afastar o conteúdo das bordas */

    box-sizing: border-box;
    /* inclui a borda no tamanho total */
    align-items: center;
}